.wrapper {
  border: 0.5rem solid #000;
  border-radius: 50%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 50rem;
  overflow: hidden;
  position: relative;
  width: 50rem;
}
